/* TableView.css */

.table-view-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  /* max-width: 1000px; */
  margin: 0 auto;
  background-color: #f0f5e3;
}

.table-view-page h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 15px;
  background-color: #283618;
  color: #f0f5e3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #606c38;
}

.job-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-table th,
.job-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.job-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  color: #333;
}

.job-table tr:nth-child(even) {
  background-color: #f8f9f7;
}

.job-table tr:nth-child(odd) {
  background-color: #f0f5eb;
}

.job-table tr:hover {
  background-color: #f1f1f1;
}

.job-table td {
  color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
  .table-view-page {
    padding: 10px;
  }

  .job-table th,
  .job-table td {
    padding: 8px;
    font-size: 0.9rem;
  }

  .table-view-page h1 {
    font-size: 1.5rem;
  }

  button {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
}
